#########################################################################
# Title:         Saltbox: Sanity Check | Repository Check               #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Repository | Get Git Branch
  ansible.builtin.shell: git rev-parse --abbrev-ref HEAD
  register: git_branch

- name: Repository | Check Git Hash
  ansible.builtin.shell: git rev-parse HEAD
  register: git_version

- name: Repository | Check Git Origin Hash
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/git/github_api_request.yml"
  vars:
    github_api_url: "https://api.github.com/repos/saltyorg/Saltbox/commits?sha={{ git_branch.stdout }}"
    github_api_result_var: git_origin_commits_api
    github_api_timeout: 3
    github_api_headers:
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: "2022-11-28"

- name: Repository | Resolve Git Origin Hash
  ansible.builtin.set_fact:
    git_origin_version:
      stdout: "{{ (git_origin_commits_api.content | from_json
                  | selectattr('sha', 'defined')
                  | map(attribute='sha')
                  | first
                  | default('')) }}"
  changed_when: false

- name: Repository | Print Git Hash
  ansible.builtin.debug:
    msg: "Commit: {{ git_version.stdout }}"

- name: Repository | Saltbox Status
  ansible.builtin.debug:
    msg: "{{ sanity_check_up_to_date
          if ((git_origin_version.stdout | length > 0) and (git_version.stdout == git_origin_version.stdout))
          else sanity_check_not_up_to_date }}"
