##########################################################################
# Title:         Saltbox: Node Exporter | Default Variables              #
# Author(s):     salty                                                   #
# URL:           https://github.com/saltyorg/Saltbox                     #
# --                                                                     #
##########################################################################
#                   GNU General Public License v3.0                      #
##########################################################################
---
node_exporter_path: "{{ server_appdata_path }}/node_exporter"

node_exporter_latest_releases_url: "https://api.github.com/repos/prometheus/node_exporter/releases/latest"
