#########################################################################
# Title:         Saltbox: Transfer.sh Role                              #
# Author(s):     l3uddz, desimaniac                                     #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
- name: Add DNS record
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/dns/tasker.yml"
  vars:
    dns_record: "{{ lookup('role_var', '_dns_record') }}"
    dns_zone: "{{ lookup('role_var', '_dns_zone') }}"
    dns_proxy: "{{ lookup('role_var', '_dns_proxy') }}"

- name: Remove existing Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/remove_docker_container.yml"

- name: Create Docker container
  ansible.builtin.include_tasks: "{{ resources_tasks_path }}/docker/create_docker_container.yml"

- name: Check if 'transfer' exists
  ansible.builtin.stat:
    path: "/usr/local/bin/transfer"
  register: transfer_binary

- name: Install 'transfer' utility
  when: (not transfer_binary.stat.exists)
  block:
    - name: Get latest transfer URL
      ansible.builtin.include_tasks: "{{ resources_tasks_path }}/git/github_api_request.yml"
      vars:
        github_api_url: "https://api.github.com/repos/l3uddz/transfer/releases/latest"
        github_api_result_var: transfer_release_api

    - name: Resolve latest transfer URL
      ansible.builtin.set_fact:
        transfer_download_url: "{{ ((transfer_release_api.content | from_json).assets
                                   | selectattr('name', 'search', 'transfer_v[0-9].[0-9].[0-9]_linux_amd64')
                                   | map(attribute='browser_download_url')
                                   | first) }}"
      changed_when: false

    - name: Install transfer
      ansible.builtin.get_url:
        url: "{{ transfer_download_url }}"
        dest: /usr/local/bin/transfer
        mode: "0775"
        owner: root
        group: root
        force: true
        validate_certs: false
      ignore_errors: true
      register: x
      until: "x is not failed"
      retries: "{{ ansible_retry_count
                if (not continuous_integration)
                else ansible_retry_count_ci }}"
      delay: 10

    - name: "Get transfer version"
      ansible.builtin.shell: "/usr/local/bin/transfer --version | head -n 1 | awk '{ print $1 }'"
      register: transfer_version
      ignore_errors: true
      when: (x is success)

    - name: "Display transfer version"
      ansible.builtin.debug:
        msg: "transfer {{ transfer_version.stdout }} installed."
      when: (x is success)

    - name: "transfer install failed"
      ansible.builtin.debug:
        msg: "transfer install failed."
      when: (x is not success)
