#########################################################################
# Title:         Saltbox: Rclone | Default Variables                    #
# Author(s):     salty                                                  #
# URL:           https://github.com/saltyorg/Saltbox                    #
# --                                                                    #
#########################################################################
#                   GNU General Public License v3.0                     #
#########################################################################
---
rclone_latest_releases_url: "https://api.github.com/repos/rclone/rclone/releases/latest"
